<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UAUMobileWebAPI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
		
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="WsMainDomain" value="http://192.168.2.57:8686/" />
    <add key="boletoAdress" value="WebServices/boleto.asmx" />
    <add key="validadorAdress" value="AutentificadorMob.asmx" />
    <add key="wsMobileAdress" value="WebServices/wsMobile.asmx" />
	<add key="wsPessoasAdress" value="WebServices/pessoas.asmx" />
    <add key="wsConfigAdress" value="WebServices/wsConfigGerais.asmx" />
	<add key="wsUsuariosAdress" value="webservices/wsUsuarios.asmx" />
    <add key="wsNovidade" value="webservices/wsnovidade.asmx" />
	<add key="wsHistoricoInsumo" value="Webservices/WsHistoricoInsumo.asmx" />
	<add key="segurancaAdress" value="webservices/seguranca.asmx" />
    <add key="ProcessoPagamento" value="webservices/ProcessoPagamento.asmx" />
    <add key="wsMedicao" value="webservices/wsMedicao.asmx" />
	<add key="wsCotacao" value="Webservices/WsCotacao.asmx" />
    <add key="compatibilidade" value="1.8;1.8.1;1.9;1.9.1;1.9.2" />
    <add key="compatibilidadeUAUWeb" value="10.1.0.11" />
	
		<!-- Variáveis para a configuração da ACS -->
		<add key="emProducao" value="0" />
		<add key="loginAdmDev" value="root" />
		<add key="senhaAdmDev" value="TKmUge9EJQKBfGaMPx" />
		<add key="loginAdmProd" value="" />
		<add key="senhaAdmProd" value="" />
		<add key="APPKeyDevCorporativo" value="TBG0OKjjdaMZjz1xdJAhi0u7laFiOqK8" />
		<add key="APPKeyProdCorporativo" value="TqkNXB76Qbxta3j4fT02EpUn2AL6SFdz" />
		<add key="APPKeyDevCliente" value="VTS5pMay10cpBRFEu0q4uUzkj71EIWgY" />
		<add key="APPKeyProdCliente" value="eW0UMv3T3GuUCEC0VhDYu2mBv4alLmUY" />

	<!-- Caminho para o logotipo da empresa -->
	<add key="UrlCaminhoPastaLogotipos" value="http://www.uau.com.br/TESTES/PortalVs2008/Empresas/" /> 
	  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<applicationSettings>
		<UAUMobileWebAPI.My.MySettings>
   <setting name="UAUMobileWebAPI_AutentificadorReference_AutentificadorMob" serializeAs="String">
    <value>http://192.168.2.97:8686/AutentificadorMob.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsMobileReference_wsMobile" serializeAs="String">
    <value>http://192.168.2.97:8686/WebServices/wsMobile.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsNovidadeReference_wsNovidade" serializeAs="String">
    <value>http://localhost:10730/webservices/wsnovidade.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_ProcessoPagamentoReference_ProcessoPagamento" serializeAs="String">
    <value>http://localhost:3016/Webservices/ProcessoPagamento.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_BoletoReference_BoletoServices" serializeAs="String">
    <value>http://localhost:3016/WebServices/boleto.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsConfigGerais_wsConfigGerais" serializeAs="String">
    <value>http://localhost:3016/Webservices/wsConfigGerais.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsEmpresaReference_WsEmpresa" serializeAs="String">
    <value>http://localhost:8282/WsEmpresa.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsEmpresaProdReference_wsRegistroUau" serializeAs="String">
    <value>http://www.uau.com.br/webservices/wsregistrouau.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsMedicaoReference_wsMedicao" serializeAs="String">
    <value>http://localhost:8686/Webservices/wsMedicao.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsPessoasReference_Pessoas" serializeAs="String">
    <value>http://localhost:3016/Webservices/pessoas.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsUsuariosReference_wsUsuarios" serializeAs="String">
    <value>http://localhost:3016/webservices/wsUsuarios.asmx</value>
   </setting>
   <setting name="UAUMobileWebAPI_wsCotacaoReference_WsCotacao" serializeAs="String">
    <value>http://localhost:3016/Webservices/WsCotacao.asmx</value>
   </setting>
      <setting name="UAUMobileWebAPI_segurancaReference_Seguranca" serializeAs="String">
        <value>http://localhost:3016/Webservices/seguranca.asmx</value>
      </setting>
   <setting name="UAUMobileWebAPI_wsHistoricoInsumoReference_wsHistoricoInsumo" serializeAs="String">
    <value>http://localhost:3016/Webservices/WsHistoricoInsumo.asmx</value>
   </setting>
  </UAUMobileWebAPI.My.MySettings>
	</applicationSettings>
	<connectionStrings><add name="UauWebBDEntities" connectionString="metadata=res://*/UauWebBDEntities.csdl|res://*/UauWebBDEntities.ssdl|res://*/UauWebBDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver01.uau.com.br;initial catalog=uau1;persist security info=True;user id=uau1;password=globaltec;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>